@CHARSET "ISO-8859-1";


html {
	font-size:100%;
}

#header,#footer {   
	position: fixed;
	width: 100%;
	height: 12pt;
	background-color: LightSlateGray;
	color: yellow;
	font-size: 1em;
	padding: 6pt;
}

#header {   
	position: fixed;
	left: 0;
	top: 0;
}

#footer {   
	position: fixed;
	left: 0;
	bottom: 0;
}

#content {
	position: fixed;
	left: 0;
	right: 0;
	top: 24pt;
	bottom: 24pt;
	overflow: auto;
	padding: 12pt;
	background-color: Teal;
}

#content div {
	display: table;
/* 	text-align: center; */
/* 	border: 1px dotted black; */
	margin-left: auto;
	margin-right: auto;
}


#loginForm table {
	float: right;
	margin-left: 36pt;
	margin-top: 36pt;
	margin-right: 15%;
	margin-bottom: 36pt;
/* 	border: 1px dotted black; */
}

#loginForm input[type="submit"] {
	float: right;
  	background: #fff;
  	border: 1px solid black;
  	text-shadow: 1px 1px 1px black;
  	text-align: right;
}

#menu {
	position: absolute;
	bottom: 0;
	right: 0;
/* 	float: left; */
/* 	z-index: -10000; */
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu li {
	float: left;
/* display: inline-block; */
}

#menu a:link,a:visited {
	display: block;
	width: 120px;
	text-align: center;
	text-decoration: none;
/* 	font-weight: bold; */
	color: yellow;
/* 	background-color:#98bf21; */
	padding: 2pt;
	text-transform: capitalize;
}

#menu a:hover,a:active {
	background-color: DimGray;
}

