<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd">

	<import resource="classpath:/spring/jdbcContext.xml"/>
	<import resource="classpath:/spring/hbmContext.xml"/>
	
	<jpa:repositories base-package="com.github.nill14.ttool.datarepo" transaction-manager-ref="txManager"/>
	
	
</beans>


<!-- 	<context:component-scan base-package="com.github.nill14.ttool.dao" /> -->
<!-- 	<context:component-scan base-package="com.github.nill14.ttool.services" /> -->
<!-- 	<context:component-scan base-package="com.github.nill14.ttool.faces" /> -->
<!-- 	<context:component-scan base-package="com.github.nill14.ttool.servlet" /> -->

